* text=auto working-tree-encoding=UTF-8

*.txt     text

# Visual Studio files (use Windows line endings)
*.csproj  text eol=crlf
*.sln     text eol=crlf

# Bash scripts
*.sh      text   eol=lf
*.cmd     text   eol=crlf
