* text=auto working-tree-encoding=UTF-8

*.txt     text

# Declare files that will always have CRLF (Windows-style) line endings on checkout.
*.sln     ext    eol=crlf
*.cmd     text   eol=crlf

# Declare files that will always have LF (Linux-style) line endings on checkout.
*.sh      text   eol=lf

# Denote all files that are truly binary and should not be modified.
*.png     binary
*.jpg     binary